In [1]:
import json
import sqlite3
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mat
import matplotlib.pyplot as plt
import colorsys
plt.style.use('seaborn-talk')
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline
import datetime

In [2]:
df = pd.read_json('atento0.json', orient='records', nrows=4000000, lines=True)
df

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,tip_amount,tolls_amount,total_amount
0,CMT,2009-04-21T18:51:11.767205+00:00,2009-04-21T18:57:09.433767+00:00,2,0.80,-74.004114,40.742950,NaN,NaN,-73.994712,40.747950,Cash,5.4,0.0,0.0,0.0,5.4
1,CMT,2009-01-13T07:40:07.639754+00:00,2009-01-13T07:50:36.386011+00:00,1,5.40,-73.996506,40.747784,NaN,NaN,-73.940449,40.792385,Cash,15.4,0.0,0.0,0.0,15.4
2,VTS,2009-01-06T19:30:44.142187+00:00,2009-01-06T19:43:09.908429+00:00,5,1.67,-73.951340,40.752070,NaN,NaN,-73.944535,40.768108,CASH,6.1,1.0,0.0,0.0,7.1
3,VTS,2009-09-24T08:28:09.004451+00:00,2009-09-24T08:41:56.739991+00:00,1,4.13,-74.001117,40.729128,NaN,NaN,-73.958122,40.721812,CASH,12.9,0.5,0.0,0.0,13.4
4,VTS,2009-10-29T05:50:39.214629+00:00,2009-10-29T05:57:22.880174+00:00,1,2.03,-73.976600,40.756873,NaN,NaN,-73.979757,40.776075,CASH,7.7,0.5,0.0,0.0,8.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,VTS,2012-09-18T21:30:43.744898+00:00,2012-09-18T21:40:38.507307+00:00,1,2.00,-73.995875,40.754095,NaN,NaN,-74.000372,40.730155,CASH,8.9,0.5,0.0,0.0,9.4
39996,VTS,2012-03-14T04:49:49.893365+00:00,2012-03-14T05:02:09.877193+00:00,1,2.26,-73.984870,40.748130,NaN,NaN,-73.989572,40.723128,CASH,9.3,1.0,0.0,0.0,10.3
39997,VTS,2012-01-16T22:03:07.142444+00:00,2012-01-16T22:10:56.609805+00:00,2,0.78,-73.985013,40.728087,NaN,NaN,-73.997448,40.733425,CASH,4.9,1.0,0.0,0.0,5.9
39998,VTS,2012-09-05T13:01:11.30658+00:00,2012-09-05T13:06:24.409852+00:00,1,6.14,-73.958157,40.776168,NaN,NaN,-73.992102,40.717848,Credit,18.5,1.0,1.0,0.0,20.5
39999,VTS,2012-01-10T11:16:21.088114+00:00,2012-01-10T11:29:54.573649+00:00,2,2.19,-73.982873,40.769278,NaN,NaN,-73.976717,40.792658,CASH,8.1,0.5,0.0,0.0,8.6

In [ ]:
# QuestÃ£o bÃ´nus. Criar colunas de Dia, MÃªs, Ano, Data inÃ­cio, Data fim
df['day'] = df.dropoff_datetime.str.slice(8,10)
df['month'] = df.dropoff_datetime.str.slice(5,7)
df['year'] = df.dropoff_datetime.str.slice(0,4)
df['pickup'] = df.pickup_datetime.str.slice(0,19)
df['dropoff'] = df.dropoff_datetime.str.slice(0,19)
df

In [ ]:
# Limpeza: retirar letra a fim de transformar em datetime
df['pickup'] = df.pickup.str.replace('T', ' ')
df['dropoff'] = df.pickup.str.replace('T', ' ')
df

In [ ]:
# Transformar em datetime
df["pickup"] = df["pickup"].astype('datetime64[ns]')
df["dropoff"] = df["dropoff"].astype('datetime64[ns]')
df

In [ ]:
# Extrair somente a hora para fazer o cÃ¡culo de subtraÃ§Ã£o
df['pickt'] = df['pickup'].dt.time 
df['dropt'] = df['dropoff'].dt.time
df

In [ ]:
df['dia-da-semana'] = df['pickt'].weekday()

In [ ]:
# Realizar o cÃ¡culo de subtraÃ§Ã£o
df = df.apply(pd.to_timedelta)
df[subtracao] = df['pickt'] - df['dropt']
df

In [ ]:
dft = pd.to_datetime(df.pickt) - pd.to_datetime(df.dropt)
dft

In [ ]:
# QuestÃ£o 3. Criar coluna limpa de Tipo de pagamento
df['pagamento'] = df['payment_type'].str.lower()
df

In [ ]:
# QuestÃ£o 3. Criar coluna Data e Datafull
df['data'] = df['month'].str.cat(df['year'],sep=".")
df['datafull'] = df['day'].str.cat(df['data'],sep=".")
df

In [ ]:
# QuestÃ£o 3. Mudar tipo da coluna Data e Datafull
df["datafull"] = df["datafull"].astype('datetime64[ns]')
df["data"] = df["data"].astype('float')
df

In [ ]:
# QuestÃ£o 3. Criar Dataframe selecionado por linhas com tipo de pagamento â€˜cashâ€™
df.set_index("pagamento",
            inplace = True)
# Selecionando linhas com tipo de pagamento â€˜cashâ€™
df1 = df.loc[["cash"]]
df1

In [ ]:
# QuestÃ£o 3. Criando um DataFrame object de uma lista
df3 = pd.DataFrame(df1,
                columns =['data', 'pagamento'])
df3

In [ ]:
# QuestÃ£o 3. RESULTADO 1
df3.data.hist(bins = 12)
plt.xlabel("Meses")
plt.ylabel("FrequÃªncia de passageiros")
plt.title("DistribuiÃ§Ã£o de corridas pagas em dinheiro")
plt.show()

In [ ]:
# QuestÃ£o 3. RESULTADO 2
sns.distplot(df3['data'],kde=False,bins=12)
plt.xlabel("Meses")
plt.ylabel("FrequÃªncia de passageiros")
plt.title("DistribuiÃ§Ã£o de corridas pagas em dinheiro")
plt.show()

In [ ]:
# QuestÃ£o 4. RESULTADO
df3.plot(x='datafull', y='tip_amount')
plt.xlabel("Data")
plt.ylabel("Quantidade de gorjetas")
plt.title("Gorjetas dos Ãºltimos 3 meses de 2012")
plt.show()

In [ ]:
# QuestÃ£o 4. Criando um DataFrame object de uma lista
dfq4 = pd.DataFrame(df,
                columns =['tip_amount', 'datafull'])
dfq4

In [ ]:
# Selecionando linhas dos Ãºltimos 3 meses de 2012
df4 = dfq4.loc[dfq4["datafull"].between("2012-10-01", "2012-12-31")]
df4

In [ ]:
# QuestÃ£o 4. RESULTADO
df4['tip_amount'].plot()
plt.xlabel("Data")
plt.ylabel("Quantidade de gorjeto")
plt.title("DistribuiÃ§Ã£o de gorjetas")
plt.show()

In [ ]:
# QuestÃ£o 4. RESULTADO 
df4.plot(x="tip_amount", y=["datafull"], kind="bar", figsize=(9, 8))